// VARIABLES
$background: rgba(255, 255, 255, 0.94);
$highlightColor: rgb(53, 156, 224);

// MIXINS
@mixin border($width: 1px) {
  border: $width solid green;
}
@mixin border-bottom($width: 1px) {
  border-bottom: $width solid green;
}

@mixin for-mobile {
  @media only screen and (max-width: 476px) {
    @content;
  }
}
@mixin for-smaller-mobile {
  @media screen and (max-width: 399px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
