@use "base" as b;
@use "tooltip";

.heading {
  position: absolute;
  top: 0.15em;
  left: 0.15em;
  color: rgb(15, 15, 15);
  background: b.$background;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  z-index: 0;

  @include b.for-mobile {
    min-width: 99vw;
  }

  .title {
    margin-bottom: 0.25em;
    padding: 0.15em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include b.border-bottom;

    @include b.for-mobile {
      white-space: pre-line;
      text-align: left;
      display: block;
    }
    @media screen and (max-width: 404px) {
      text-align: center;
      margin: 0.125em 0;
    }
  }

  .info-container {
    > li {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0.2em;
      padding: 0.1em;
      line-height: 1.5;

      &:nth-of-type(odd) {
        background-color: rgba($color: #000000, $alpha: 0.06);
      }
    }
  }

  .click-instructions {
    margin: 0.1em 0;
    padding: 0.3em;
    border-radius: 0.3em;
    background: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 3px double green;

    .turbine-img {
      background: rgba($color: #4d6059, $alpha: 0.9);
      border-radius: 0.2em;
      transform: translateY(0%);
      margin: 0em 0.2em;
      padding: 0.11em;
    }

    .icon {
      color: b.$highlightColor;
      margin-left: 0.1em;
      transform: translateY(12%);
    }

    @include b.for-mobile {
      font-size: 1rem;
    }
  }
}

.close-btn {
  position: fixed;
  top: 0.15em;
  right: 0.15em;
  font-size: 1.3rem;
  color: b.$highlightColor;
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding: 0.2em 0.4em;
  transition: color 0.5s ease-out;
  background: b.$background;
  border: none;
  border-radius: 4em;
  z-index: 10;
  cursor: pointer;

  &:hover {
    color: rgb(219, 70, 57);
  }

  &:focus {
    outline: 2px solid rgba($color: #c0b0a6, $alpha: 0.5);
  }

  .info-text {
    font-size: 0.88rem;
    font-weight: bold;
  }

  @include b.for-mobile {
    top: 0.32em;
    right: 0.3em;
    background: rgb(32, 152, 233);
    color: rgb(236, 236, 236);
  }
  @media screen and (max-width: 404px) {
    top: 0.32em;
    left: 50%;
    transform: translate(-50%);
  }
}

.boxTitle {
  margin: 0.18em;
  font-size: 1.3rem;
  @include b.border-bottom;
}

.list {
  line-height: 1.5;
  padding: 0.1em;

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.2em;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.015em;

    &:not(:first-child) {
      border-top: 1px solid #d1d1d1;
    }
    &:nth-of-type(odd) {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }
}

.copyBtn {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.4em auto 0em;
  padding: 0.3em;
  border-radius: 0.3em;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: background 0.65s ease-out;
  @include b.border(1px);

  &.success {
    background: rgba($color: #4bb543, $alpha: 0.6);
  }

  &:focus {
    outline: 1px solid green;
  }

  .iconClipBoard {
    color: rgb(32, 152, 233);
    transform: translateY(12%);
    font-size: 1.25rem;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
